doctype html
html
  head
    link(href='css/main.css' rel='stylesheet')
  body
    .flex-container
      .flex-item Hola
      .flex-item Adios
      .flex-item 3
      .flex-item Bonjour
      .flex-item Auf wiedersen
